*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
#signup-main-container{
    height: 450px;
    width: 400px;
    margin: 100px auto;
    border-radius: 8px;
    background-color: rgb(188, 13, 215);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 36px;
}

#sign-up-btn{
    background-color: rgb(89, 0, 255);
    color: white;
    font-weight: bolder;
}
#sign-up-btn:hover{
    background-color: green;
}
.input_box:hover{
    background-color: green;
}