*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
#add-employee-box{
    margin: 50px auto;
    height: 400px;
    width:400px;
    background-color: darkorchid;
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    border-radius: 4px;
}
.new-btn{
    height: 36px;
    padding: 0px 25px;
}
.new-btn-submit{
    background-color: blue;
    height: 36px;
    font-weight: bolder;
    color: white;
}
.new-btn-submit:hover{
    background-color: green;
}

#view-empoyee-box{
    margin: 50px auto;
    height: 300px;
    width:400px;
    background-color: rgb(50, 189, 204);
}
#create-routine{
    margin: 50px auto;
    height: 500px;
    width:400px;
    background-color: rgb(64, 138, 69);
    display: flex;
    flex-direction: column;
    padding: 25px;
    gap: 25px;
    border-radius: 4px;
    color: white;
    font-size: bolder;
}
.scedule-box{
    display: flex;
    gap: 4px;
}
.sedule{
    height: 36px;
    border-radius: 4px;
}